@import url(http://fonts.googleapis.com/css?family=Monda);

body {
    font-family: Monda, "DejaVu Sans";
    font-size: 30pt;
}

#container {
    position: absolute;
    top: 40%;
    left: 40%;
    border: 2px solid red;
    width: 250px;
    text-align: center;
    line-height: 60px;
    vertical-align: middle;
    border-radius: 10px;

}

