@import url(http://fonts.googleapis.com/css?family=Monda);

body {
    font-family: Monda;
}

input {
	font-family: inherit;
}

.center {
	text-align: center;	
}

.center-marg {
	margin: 0 auto;
	display: table;
}

#wrap {
	width: 40%;
	margin: 5% auto;
}

#container {
	display: table;
	margin: 0 auto;
}

#action {
    margin: 0 10px;
	width: 40px;
    font-size: 170%;
    display: inline;


}

#result {
	margin-top: 15px;
}

#actions {
	margin: 20px auto;
	display: table;
}


#actions button {
	margin-right: 10px;
	margin-bottom: 10px;
	font-size: 130%;
	width: 50px;
}


.wrong {
    border: 2px solid red;
}